.nftListContainer{
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
    justify-content: start;
}
.nftListContainer>div{
    margin-bottom: 20px;
    margin-right: 20px;
}
.nftCard{
    flex-basis: 200px;
    height: 300px;
    padding: 0 !important;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 10px !important;
}
.nftCard img{
    width: 100%;
    min-height: 150px !important;
    max-height: 150px !important;
    object-fit: cover;
}
.spacer{
    flex: 1;
}
.pagination_container{
    display: flex;
    justify-content: center;
    margin: auto;
}
.pagination-list{
    margin-top: 0 !important;
}