.infoSection{
    display: flex;
    border-bottom: 1px solid #ddd;
}
.infoSectionHeader{
    flex-basis: 200px;
    border-right: 1px solid #ddd;
    padding: 15px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.infoSectionContent{
    flex: 1;
    padding: 15px;
}
.image_gallery>img{
    width: 100px;
    height: 80px;
    border-radius: 5px;
    margin-right: 10px;
}