<table class="table is-fullwidth">
  <thead>
    <tr>
      <th><abbr title="Title">Title</abbr></th>
      <th><abbr title="Price">Price</abbr></th>
      <th><abbr title="Status">Status</abbr></th>
      <th><abbr title="Actions">Actions</abbr></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let nft of nftList; index as i;">
      <td>
        <div class="nftTitle">
          <img class="nftThumbnail" [src]="thumbnail_path + nft.thumbnail" />
          {{ nft.title }}
        </div>
      </td>
      <td>{{ nft.price }} USD</td>
      <td>{{ getNFTStatusText(nft.status) }}</td>
      <td>
        <div class="is-circle box pointer is-icon flex-center">
          <i class="fa fa-eye" aria-hidden="true" (click)="showDetailsModal(i)"></i>
        </div>
      </td>
    </tr>
  </tbody>
</table>

<div class="modal" [ngClass]="(nft_details_modal_open)? 'is-active' : ''">
  <div class="modal-background" (click)="closeDetailsModal()"></div>
  <div class="modal-card">
    <header class="modal-card-head">
      <p class="modal-card-title">NFT Details</p>
      <button class="delete" aria-label="close" (click)="closeDetailsModal()"></button>
    </header>
    <section class="modal-card-body" *ngIf="selected_nft">
        <div class="infoSection">
          <div class="infoSectionHeader">
            Thumbnail
          </div>
          <div class="infoSectionContent">
            <img class="nftThumbnailInDetails" [src]="thumbnail_path + selected_nft.thumbnail" />
          </div>
        </div>
        <div class="infoSection">
          <div class="infoSectionHeader">
            Title
          </div>
          <div class="infoSectionContent">
            {{ selected_nft.title }}
          </div>
        </div>
        <div class="infoSection">
          <div class="infoSectionHeader">
            Price
          </div>
          <div class="infoSectionContent">
            {{ selected_nft.price }} USD
          </div>
        </div>
        <div class="infoSection">
          <div class="infoSectionHeader">
            Status
          </div>
          <div class="infoSectionContent">
            {{ getNFTStatusText(selected_nft.status) }}
          </div>
        </div>
        <div class="infoSection">
          <div class="infoSectionHeader">
            Minted
          </div>
          <div class="infoSectionContent">
            {{ selected_nft.minted ? "Yes" : "No" }}
          </div>
        </div>
        <div class="infoSection">
          <div class="infoSectionHeader">
            Owner
          </div>
          <div class="infoSectionContent address_format">
            {{ selected_nft.currentOwnerAddress }}
          </div>
        </div>
        <div class="infoSection">
          <div class="infoSectionHeader">
            Token ID
          </div>
          <div class="infoSectionContent">
            {{ selected_nft.tokenId }}
          </div>
        </div>
        <div class="infoSection">
          <div class="infoSectionHeader">
            Token URL
          </div>
          <div class="infoSectionContent">
            <a href="{{ selected_nft.tokenURI }}" target="_blank">{{ selected_nft.tokenURI }}</a>
          </div>
        </div>
        <div class="infoSection">
          <div class="infoSectionHeader">
            Files
          </div>
          <div class="infoSectionContent image_gallery">
            <img *ngFor="let file of selected_nft.files; index as i;" [src]="image_path + file.name" alt="" (click)="openLightbox(i)" />
          </div>
        </div>
    </section>
    <footer class="modal-card-foot">
      <button *ngIf="selected_nft && selected_nft.minted === false" class="button is-success mr-2" (click)="goToEditNFT()">Edit</button>
      <button *ngIf="selected_nft && selected_nft.minted === false" class="button is-info mr-2" (click)="mintNFT()" [ngClass]="(minting)? 'is-loading' : ''" [attr.disabled]="minting_button_disabled ? true : null">Mint NFT</button>
      <button *ngIf="selected_nft && selected_nft.minted === false" class="button is-danger mr-2" (click)="deleteNFT()">Delete NFT</button>
    </footer>
  </div>
</div>

<div class="pagination_container is-centered">
    <nav class="pagination is-centered" role="navigation" aria-label="pagination">
      <ng-template ngFor let-pageItem [ngForOf]="pagination_items">
        <a class="pagination-previous" (click)="goPrev()" *ngIf="pageItem === '<'">Previous</a>
        <a class="pagination-next" (click)="goNext()" *ngIf="pageItem === '>'">Next page</a>
      </ng-template>
      
      <ul class="pagination-list">
        <ng-template ngFor let-pageItem [ngForOf]="pagination_items">
          <li *ngIf="isNumber(pageItem)" (click)="goToPage(pageItem)"><a class="pagination-link">{{ pageItem }}</a></li>
          <li *ngIf="pageItem === '...'"><span class="pagination-ellipsis">&hellip;</span></li>
          <li *ngIf="!isNumber(pageItem) && pageItem.indexOf('*') === 0"><a class="pagination-link is-current">{{ pageItem.charAt(1) }}</a></li>          
        </ng-template>        
      </ul>
    </nav>
</div>

