.infoSection{
    display: flex;
    border-bottom: 1px solid #ddd;
}
.infoSection:last-child{
    border-bottom: none;
}
.infoSectionHeader{
    flex-basis: 130px;
    border-right: 1px solid #ddd;
    padding: 15px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.infoSectionContent{
    flex: 1;
    padding: 15px;
}
.image_gallery>img{
    width: 100px;
    height: 80px;
    border-radius: 5px;
    margin-right: 10px;
    cursor: pointer;
}
.pagination_container{
    display: flex;
    justify-content: center;
    margin: auto;
}
.pagination-list{
    margin-top: 0 !important;
}
.nftTitle{
    display: flex;
    align-items: center;
}
.nftThumbnail{
    width: 40px;
    height: 40px;
    margin-right: 20px;
    border-radius: 3px;
}
.nftThumbnailInDetails{
    width: 100px;
    height: 100px;
}
.address_format{
    font-size: 15px;
}