.navbar{
  position: fixed;
  top: 0;
  left: 0;
  height: 55px;
  background-color: #673ab7;
  width: 100%;
  color: #fff;
}
.navbar *{
  color: #fff !important;
}
.page{
  padding-top: 55px;
  overflow: hidden;
  height: calc(100vh - 55px);
}
.left_sidebar{
  float:left;
  position: fixed;
  width: 300px;
  padding-top: 10px;
  padding-left: 30px;
  height: calc(100vh - 55px);;
  overflow-y: auto;
}
.page_content{
  width: 100%;
  padding-left: 300px;
  height: calc(100vh - 55px);
}
.nav-link .fa-solid{
  margin-right: 20px;
}
.left_sidebar{
  background: #141E30;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #243B55, #141E30);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #243B55, #141E30); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.left_sidebar *{
  color: #fff !important;
}
.menu-list a:hover{
  background-color: #795548;
}
.navbar-menu .navbar-item:hover{
  background-color: #795548;
}
.active-nav{
  background-color: #485fc7 !important;
}