<!-- Toolbar -->
<nav class="navbar" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item" href="/">NFT Marketplace</a>
  </div>
  <div class="navbar-menu navbar-end">
    <a class="navbar-item" [routerLink]="['/marketplace/my-nfts']" [routerLinkActive]="['active-nav']"><i class="fa-solid fa-file-contract mr-3"></i>My NFTs</a>
    <a class="navbar-item" [routerLink]="['/marketplace/nft-list']" [routerLinkActive]="['active-nav']"><i class="fa-solid fa-file-contract mr-3"></i>Marketplace</a>
    <a class="navbar-item" [routerLink]="['/contract/details']" [routerLinkActive]="['active-nav']"><i class="fa-solid fa-file-contract mr-3"></i>Contract</a>
  </div>
</nav>

<div class="page" role="main">
  <div class="left_sidebar">
    <aside class="menu">
      <p class="menu-label">
        NFTs
      </p>
      <ul class="menu-list">
        <li><a class="nav-link" [routerLink]="['/nft/list']" [routerLinkActive]="['is-active']"><i class="fa-solid fa-list"></i>List</a></li>
        <li><a class="nav-link" [routerLink]="['/nft/create-nft']" [routerLinkActive]="['is-active']"><i class="fa-solid fa-plus"></i>Create NFT</a></li>
      </ul>
    </aside>
  </div>
  <div class="page_content">
    <router-outlet></router-outlet>
  </div>
</div>