<!-- Toolbar -->
<nav class="navbar" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item" href="https://bulma.io">NFT Marketplace</a>

    <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>
</nav>

<div class="page" role="main">
  <div class="left_sidebar">
    <aside class="menu">
      <p class="menu-label">
        NFTs
      </p>
      <ul class="menu-list">
        <li><a class="nav-link" [routerLink]="['/nft/list']" [routerLinkActive]="['is-active']"><i class="fa-solid fa-list"></i>List</a></li>
        <li><a class="nav-link" [routerLink]="['/nft/create-nft']" [routerLinkActive]="['is-active']"><i class="fa-solid fa-plus"></i>Create NFT</a></li>
      </ul>
    </aside>
  </div>
  <div class="page_content">
    <router-outlet></router-outlet>
  </div>
</div>