.contract_address_container{
    padding: 30px;
}
.connected_text{
    display: flex;
    align-items: center;
    color: green;
    font-weight: bold;
}
.not_connected_text{
    display: flex;
    align-items: center;
    color: red;
    font-weight: bold;
}