<div class="form-page box">
    <h3 class="mb-1 flex-center">Create NFT</h3>
    <div class="divider flex-center"></div>

    <div class="field">
        <label class="label">NFT Title</label>
        <div class="control">
          <input class="input" type="text" placeholder="Title" [(ngModel)]="nft_title">
        </div>
    </div>

    <div class="field">
        <label class="label">Price (in USD)</label>
        <div class="control">
          <input class="input" type="number" placeholder="Price (in USD)" [(ngModel)]="nft_price">
        </div>
    </div>

    <div class="field">
        <label class="label">Upload NFT</label>
        <div class="control">
            <div class="file">
                <label class="file-label">
                  <input class="file-input" type="file" name="resume" (change)="fileChangeEvent($event)">
                  <span class="file-cta">
                    <span class="file-icon">
                      <i class="fas fa-upload"></i>
                    </span>
                    <span class="file-label">
                      Choose a file…
                    </span>
                  </span>
                </label>
            </div>
        </div>
    </div>
    <div class="uploaded_files">
      <div class="is-flex is-justify-content-start is-align-content-center" *ngFor="let item of selected_files; index as i;">
        <div>
          <img class="box p-0" [src]="item.data"/>
        </div>
        <div class="file_name">
          <span>{{ item.name }}</span>
        </div>
        <div class="flex-center is-circle remove_icon box">
          <i class="fa fa-trash" aria-hidden="true" (click)="removeUploadedFile(i)"></i>
        </div>
      </div>
    </div>
    <div class="uploaded_files" *ngIf="existingUploadedFiles">
      <div *ngFor="let item of existingUploadedFiles; index as i;">
        <div class="is-flex is-justify-content-start is-align-content-center" *ngIf="item.type === 'image'">
          <div>
            <img class="box p-0" [src]="image_path + item.name"/>
          </div>
          <div class="file_name">
            <span>{{ item.name }}</span>
          </div>
          <div class="flex-center is-circle remove_icon box">
            <i class="fa fa-trash" aria-hidden="true" (click)="removeExistingUploadedFile(i)"></i>
          </div>
        </div>
      </div>
    </div>

    <div class="field mt-3">
        <div class="control">
          <button *ngIf="!nftDetails; else updateButton" class="button is-link" [attr.disabled]="button_disabled ? true : null" (click)="onSubmit()" >Submit</button>
          <ng-template #updateButton>
            <button class="button is-link" [attr.disabled]="button_disabled ? true : null" (click)="onSubmit()" >Update</button>
          </ng-template>
        </div>
    </div>

</div>
