<div class="nft_details_container">
    <div class="box" *ngIf="nftDetails">
        <h1 class="has-text-centered is-size-3">NFT Details</h1>
        <p>
          <b>Internal ID: </b>
          <span>{{ nftDetails.internalId }}</span>
        </p>
        <p>
            <b>Title: </b>
            <span>{{ nftDetails.title }}</span>
        </p>
        <p>
            <b>Price: </b>
            <span>{{ nftDetails.price }} USD ({{ usdToEth(nftDetails.price) }} ETH)</span>
        </p>
        <p>
          <b>Current Owner Address: </b>
          <span>{{ nftDetails.currentOwnerAddress }}</span>
          <b class="ml-3" *ngIf="account_address == nftDetails.currentOwnerAddress">(You)</b>
        </p>
        <p>
          <b>Token ID: </b>
          <span>{{ nftDetails.tokenId }}</span>
        </p>
        <p>
          <b>Token URI: </b>
          <span><a href="{{ nftDetails.tokenURI }}">{{ nftDetails.tokenURI }}</a></span>
        </p>
        <p>
          <b>Minted By: </b>
          <span>{{ nftDetails.mintedBy }}</span>
          <b class="ml-3" *ngIf="account_address == nftDetails.mintedBy">(You)</b>
        </p>
        <div class="uploaded_files" *ngIf="nftDetails.files">
            <h2>NFTs ({{ nftDetails.files ? nftDetails.files.length : 0 }})</h2>
            <div class="is-flex is-justify-content-start is-align-content-center" *ngFor="let file of nftDetails.files; index as i;">
              <div>
                <img class="box p-0" [src]="image_path + file.name"/>
              </div>
              <div class="file_name">
                <span>{{ file.name }}</span>
              </div>
              <div class="flex-center is-circle remove_icon box" (click)="openLightbox(i)">
                <i class="fa fa-eye" aria-hidden="true"></i>
              </div>
            </div>
        </div>
        <div class="purchase_button">
            <button *ngIf="account_address !== nftDetails.currentOwnerAddress" [attr.disabled]="purchase_button_is_disabled ? true : null" [ngClass]="(purchase_button_is_loading)? 'is-loading' : ''" class="button is-link" (click)="purchaseNFT()">Purchase NFT</button>
            <button *ngIf="account_address === nftDetails.currentOwnerAddress && nftDetails && nftDetails.minted === true && nftDetails.forSale === true" [attr.disabled]="sell_button_is_disabled ? true : null" [ngClass]="(sell_button_is_loading)? 'is-loading' : ''" class="button is-link is-danger mr-2" (click)="toggleForSale()">Turn off Sell</button>
            <button *ngIf="account_address === nftDetails.currentOwnerAddress && nftDetails && nftDetails.minted === true && nftDetails.forSale === false" [attr.disabled]="sell_button_is_disabled ? true : null" [ngClass]="(sell_button_is_loading)? 'is-loading' : ''" class="button is-link is-success mr-2" (click)="toggleForSale()">Turn on Sell</button>
            <button *ngIf="account_address === nftDetails.currentOwnerAddress && nftDetails && nftDetails.status === nftStatus.UNPUBLISHED && nftDetails.forSale === true" [attr.disabled]="publish_button_is_disabled ? true : null" [ngClass]="(publish_button_is_loading)? 'is-loading' : ''" class="button is-link is-success mr-2" (click)="updateNFTStatus('published')">Publish</button>
            <button *ngIf="account_address === nftDetails.currentOwnerAddress && nftDetails && nftDetails.status === nftStatus.PUBLISHED && nftDetails.forSale === true" [attr.disabled]="publish_button_is_disabled ? true : null" [ngClass]="(publish_button_is_loading)? 'is-loading' : ''" class="button is-link is-danger mr-2" (click)="updateNFTStatus('unpublished')">Unpublish</button>
        </div>
    </div>
</div>
